<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
</head>
<body >
		<div class="container">
		<div id="tasks">
		<div>
			<h1>Tasks ({{tasks.length}})</h1>
			<ol class="list-group">
				<li v-on:dblclick="doubleClick(task)" v-for="task in tasks" class="list-group-item">
					{{ task.body }}
				</li>
			</ol>
		</div>
			<form @submit.prevent="addTask">
				<div class="form-group">
					<input v-model="newTask" v-el:editor class="form-control" placeholder='Well i need some kind of things'></input>
				</div>
					<button class="btn btn-primary">Add Task</button>
			</form>


		</div>	
		</div>




<script type="text/javascript" src="../static/js/vendor/vue.js"></script>
<script type="text/javascript" src="../static/js/vendor/vuex.min.js"></script>
<script type="text/javascript" src="../static/js/vendor/vue-router.js"></script>
    <script type="text/javascript" src="../static/js/app.js"></script>
</body>
</html>