<!DOCTYPE html>
	<head>
	    <title></title>
	    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap_style.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">
	</head>
	<body>
		<div id="app"></div>
		<!-- <script type="text/javascript" src="vendor/vue.js"></script> -->
		<script type="application/javascript" src="{{ url_for('static', filename='dist/app.min.js') }}"></script>
	</body>
</html>