elasticsearch-dsl==7.1.0
eventlet==0.31.0
Flask==1.1.1
Flask-Babel==1.0.0
Flask-Cors==3.0.9
Flask-DotEnv==0.1.2
Flask-Elasticsearch==0.2.5
Flask-JWT-Extended==1.1.0
Flask-Mail==0.9.1
Flask-Migrate==2.4.1
Flask-Principal==0.4.0
flask-restplus==0.13.0
Flask-SQLAlchemy==2.4.1
Flask-Uploads==0.2.1
humanize==1.0.0
langdetect==1.0.7
psycopg2==2.8.4
SQLAlchemy-Utils==0.32.14
webargs==6.0.0
Whoosh==2.7.4
